<p style="color: green"><%= notice %></p>

<h1>Service managements</h1>

<div id="service_managements">
  <% @service_managements.each do |service_management| %>
    <%= render service_management %>
    <p>
      <%= link_to "Show this service management", service_management %>
    </p>
  <% end %>
</div>

<%= link_to "New service management", new_service_management_path %>
