<div class="container">
    <div class="col">
<div class="mb-3">
    <h2>¡Contáctanos!</h2>
    <p>¿Necesitas programar una cita o tienes preguntas sobre nuestros servicios? No dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte a mantener tu vehículo en óptimas condiciones.</p>
    <br>
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</div>
</div>