<div class="contained">
	<div class="row">
		<%= image_tag 'mecanico1.jpg' , class: "img-fluid"%>
		<h1>Bienvenido a El Tuercas</h1>
		<p>Somos tu taller mecánico de confianza en Santiago que te ofrece un servicio de 
			primera clase para mantener tu vehículo en perfecto estado. En El Tuercas, 
			entendemos la importancia de tu automóvil y nos comprometemos a brindarte soluciones 
			de calidad con un toque personal.</p>
		<p>Horario de Atención

Nuestro equipo de mecánicos profesionales está a tu disposición en los siguientes horarios:

Lunes a Viernes: 8:00 AM - 6:00 PM
Sábados: 9:00 AM - 3:00 PM
Domingos: Cerrado</p>
	</div>	
</div>