<div class="contained">
	<div class="row">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			<div class="carousel-item active">
			<img src="..." class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
			<img src="..." class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
			<img src="..." class="d-block w-100" alt="...">
			</div>
			<h1>Bienvenido a El Tuercas</h1>
			<p>Somos tu taller mecánico de confianza en Santiago que te ofrece un servicio de 
				primera clase para mantener tu vehículo en perfecto estado. En El Tuercas, 
				entendemos la importancia de tu automóvil y nos comprometemos a brindarte soluciones 
				de calidad con un toque personal.</p>
			</div>
		</div>
	</div>
</div>
