<div class="container">
    <div class="row">
        <div class="col-12">
        <div class="col-6">
        <h1>Nuestros Servicios</h1>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5>Mantenimiento y Reparación</h5>
                <p class="card-text">Desde cambios de aceite hasta 
                    reparaciones mayores, nuestros mecánicos altamente 
                    capacitados están listos para mantener tu vehículo 
                    en las mejores condiciones posibles.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5>Diagnóstico Avanzado</h5>
                <p class="card-text">Utilizamos tecnología de vanguardia para identificar y solucionar problemas de manera rápida y precisa.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5>Reparación de Colisiones</h5>
                <p class="card-text">En El Tuercas, no solo cuidamos de tu automóvil bajo el capó, también nos ocupamos de las reparaciones de carrocería y pintura.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5>Servicio de Frenos y Suspensión</h5>
                <p class="card-text">Mantén la seguridad en la carretera con nuestros servicios de frenos y suspensión.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5>Alineación y Balanceo</h5>
                <p class="card-text">Evita el desgaste irregular de tus neumáticos y mejora la estabilidad de tu vehículo con nuestros servicios de alineación y balanceo.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5>Reemplazo de Neumáticos</h5>
                <p class="card-text">Te ofrecemos una amplia gama de neumáticos de las mejores marcas para garantizar un manejo seguro y cómodo.</p>
                </div>
            </div>
        </div>
        <br>
            </div>
        </div>
    </div>
</div>

